@use '../../../styles/variables' as *;

.ProgressBar {
  height: 4px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  overflow: hidden;

  &__fill {
    height: 100%;
    background: $primaryColor;
    border-radius: 2px;
    transition: width 0.3s ease;
  }
}
