@use '../../../styles/variables' as *;

.Avatar {
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;

  &--fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primaryColor;
    color: $primaryColorWhite;
    font-weight: 700;
    font-family: $fontFamilySecondary;
  }

  &--sm {
    width: 28px;
    height: 28px;
  }

  &--md {
    width: 40px;
    height: 40px;
  }

  &--lg {
    width: 64px;
    height: 64px;
  }

  &--xl {
    width: 96px;
    height: 96px;
  }
}
