@use '../../../styles/variables' as *;

.SkillDetailScreen {
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: $spacing-lg;

    h1 {
      font-family: $fontFamilySecondary;
      margin: 0 0 $spacing-xs;
    }
  }

  &__beltInfo {
    background: none;
    border: 1px solid $grayMid;
    color: $grayLight;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 0.75rem;
    font-weight: 700;
    cursor: pointer;
    margin-left: $spacing-sm;
    vertical-align: middle;
    transition: color $transition-default, border-color $transition-default;

    &:hover {
      color: $primaryColor;
      border-color: $primaryColor;
    }
  }

  &__privacy {
    margin-bottom: $spacing-lg;
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-md;
    margin-bottom: $spacing-xl;
  }

  &__danger {
    margin-top: $spacing-xl;
    padding-top: $spacing-lg;
    border-top: 1px solid $grayDark;
  }
}
